@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Table</h4>
                <form asp-action="index">
                    <input name="name"><br>
                    <button type="submit">Search</button>
                </form>



                   


              

                <a class="btn btn-success" asp-controller="category" asp-action="create">Add User</a>



                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FullName</td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="role" asp-action="Update" asp-route-id="@user.Id">
                                            Change Role
                                        </a>
                                        <a class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                        <a class="btn btn-primary" asp-controller="User" asp-action="Update" asp-route-id="@user.Id">
                                            <i class="mdi mdi-table-edit"></i>
                                        </a>
                                        <a class="btn btn-success" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                            <i class="mdi mdi-account-card-details"></i>
                                        </a>

                                       @if (User.Identity.Name!=user.UserName)
                                        {
                                            @if (user.IsBlocked)
                                            {
                                                <a class="btn btn-success" asp-controller="User" asp-action="BlockOrActivate" asp-route-id="@user.Id">
                                                    Active
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger" asp-controller="User" asp-action="BlockOrActivate" asp-route-id="@user.Id">
                                                    Block
                                                </a>

                                            }
                                        }

                                       
                                        
                                       



                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



