@model Student
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">GroupId</th>
            <th scope="col">Email</th>
            <th scope="col">UserName</th>
            <th scope="col">UserPassword</th>
            <th scope="col">CheckPassword</th>
            <th scope="col">CardNumber</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Name</td>
            <td>@Model.Age</td>
            <td>@Model.GroupId</td>
            <td>@Model.Email</td>
            <td>@Model.UserNameGoogle</td>
            <td>@Model.UserPasswordGoogle</td>
            <td>@Model.ConfirmPasswordGoogle</td>
            <td>@Model.CardNumber</td>


        </tr>
       
    </tbody>
</table>