@model  List<BasketVM>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Image/th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">ProductCount</th>
            <th scope="col">Settings</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
       {
            <tr>
                <th scope="row" >
                    <img width="150" height="150" src="~/img/@item.ProductImage" />
                </th>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    <a asp-controller="Basket" asp-action="AddProduct" asp-route-id="@item.Id"><i class="fa-solid fa-plus me-3"></i> </a>
                    @item.ProductCount
                    <a asp-controller="Basket" asp-action="DecreaseProduct" asp-route-id="@item.Id"><i class="fa-solid fa-minus me-3"></i> </a>

                </td>

                <td><a asp-controller="Basket" asp-action="RemoveProduct" asp-route-id="@item.Id"> X</a></td>

            </tr>

        }
      
    </tbody>
</table>